bin/`r`nobj/`r`n*.user`r`n*.suo`r`n*.cache`r`n*.log`r`n*.vs/`r`n.vscode/`r`n*.dbmdl`r`n*.jfm`r`n*.pdb`r`n*.userosscache`r`n*.suo`r`n*.userprefs`r`n*.pidb`r`n*.svclog`r`nproject.lock.json`r`nproject.fragment.lock.json`r`nartifacts/`r`nTestResults/`r`n_ReSharper*/`r`n*/.vs/`r`nobj/**`r`nbin/**`r`n
