bin/
obj/
out*
*.user
*.suo
*.cache
*.log
*.vs/
.vscode/
*.dbmdl
*.jfm
*.pdb
*.userosscache
*.userprefs
*.pidb
*.svclog
project.lock.json
project.fragment.lock.json
artifacts/
TestResults/
_ReSharper*/
*/.vs/

